@media screen and (max-width: 1700px) {
    .specialists__item:last-child {
        display: none;
    }
}

@media screen and (max-width: 1366px) {
    .specialists {
        margin-top: 240px;
    }
    .specialists__heading {
        font-size: 42px;
        max-width: 900px;
    }
    .specialists__delimiter {
        display: block;
    }
    .specialists__text {
        font-size: 20px;
    }
    .specialists__item-count-text,
    .specialists__item-experience {
        font-size: 16px;
    }
}

@media screen and (max-width: 1280px) {
    .specialists {
        margin-top: 180px;
        margin-bottom: 80px;
    }
    .specialists__heading {
        font-size: 36px;
        margin-bottom: 32px;
        max-width: 800px;
    }
    .specialists__text {
        font-size: 16px;
        margin-bottom: 60px;
    }
    .specialists__item-name {
        font-size: 20px;
    }
    .specialists__item-count-text,
    .specialists__item-experience,
    .specialists__comment {
        font-size: 14px;
    }
    .specialists__item-experience {
        max-width: 163px;
    }
    .specialists__item-count-text {
        max-width: 153px;
    }
    .specialists__list {
        margin-bottom: 60px;
    }
    .specialists__item {
        max-width: 263px;
    }
    .specialists__slider-button {
        width: 56px;
        height: 56px;
    }
    .specialists__slider-button_left {
        left: -35px;
    }
    .specialists__slider-button_right {
        right: -35px;
    }
}

@media screen and (max-width: 970px) {
    .specialists {
        margin-top: 80px;
    }
    .specialists__item {
        max-width: 197px;
        padding: 0;
    }
    .specialists__picture {
        max-width: 165px;
        margin-bottom: 32px;
    }
    .specialists__slider-button {
        top: 30%;
    }
    .specialists__comment {
        font-size: 12px;
        padding: 10px;
    }
    .specialists__item-count-box,
    .specialists__comment {
        margin-top: 24px;
        margin-bottom: 0;
    }
    .specialists__item-count-picture {
        width: 16px;
        height: 16px;
    }
    .specialists__item-experience {
        max-width: 165px;
        min-height: 85px;
        margin: 0;
    }
}

@media screen and (max-width: 720px) {
    .specialists {
        margin-top: 0;
        margin-bottom: 60px;
    }
    .specialists__delimiter {
        display: none;
    }
    .specialists__item {
        max-width: 327px;
    }
    .specialists__picture {
        max-width: 210px;
        margin-bottom: 24px;
    }
    .specialists__heading {
        font-size: 22px;
        max-width: 327px;
        margin-bottom: 24px;
    }
    .specialists__text {
        font-size: 14px;
        text-align: center;
        max-width: 221px;
        margin-bottom: 40px;
    }
    .specialists__comment {
        margin-top: 24px;
        padding: 15px 10px;
    }
    .specialists__item-name {
        font-size: 18px;
        font-weight: 700;
        margin: 0;
    }
    .specialists__item-experience {
        min-height: auto;
        max-width: 242px;
    }
    .specialists__item-count-text {
        min-height: auto;
        max-width: 202px;
    }
    .specialists__item-count-box {
        align-items: center;
        margin-top: 24px;
        margin-bottom: 0;
        width: 242px;
    }
    .specialists__list {
        margin-bottom: 40px;
    }
    .specialists__slider-button {
        width: 47px;
        height: 47px;
        top: 32%;
    }
    .specialists__slider-button-icon {
        width: 7px;
    }
    .specialists__pagination {
        gap: 32px;
    }
    .specialists__item:nth-child(n +2) {
        display: none;
    }
    .specialists__slider-button_left {
        left: -30px;
    }
    .specialists__slider-button_right {
        right: -30px;
    }
    .specialists__comment::after,
    .specialists__comment:before {
        top: -4px;
    }
    .specialists__pagination-dot:nth-child(n +3):nth-child(-n+4) {
        display: block;
    }
    .specialists__pagination-dot {
        width: 5px;
        height: 5px;
    }
}