.main {
    position: relative;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 0 0 0 200px;
    display: flex;
    gap: 90px;
}

.main__left-block {
    width: 50%;
}

.main__heading {
    font-size: 80px;
    font-weight: 800;
    margin-top: 120px;
    margin-bottom: 60px;
}

.main__text {
    font-size: 26px;
    max-width: 673px;
}

.btn-diagnostics {
    min-width: 412px;
    height: 69px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 60px;
    display: flex;
    cursor: pointer;
    gap: 15px;
    position: relative;
    box-shadow: 0px 8px 15px -5px #0000001A;
    background: linear-gradient(to left, #FFCC00, #FFA300);
}

.btn-diagnostics__text {
    color: white;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.btn-diagnostics__triangle {
    position: absolute;
    top: -7px;
    left: 100px;
    width: 15px;
    height: 15px;
    box-shadow: 0px 8px 15px -5px #0000001A;
    background: linear-gradient(#FFCC00, #FFA300);
    border-top-left-radius: 3px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    transform: rotate(45deg);
}

.advantages {
    display: flex;
    max-width: 815px;
    gap: 40px;
    flex-wrap: wrap;
}

.advantages__item {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 317px;
}
.advantages__item-box-picture {
    min-width: 70px;
    border-radius: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7.156807899475098px 21.47042465209961px -4.2940850257873535px #23190426;
}

.advantages__item-text {
    font-size: 18px;
}

.main__right-block {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    background-size: cover;
    background-image: url('../../images/main/technique.jpg');
}

.achievements {
    height: 100px;
    position: absolute;
    bottom: 200px;
    display: flex;
    background-color: white;
    width: 464px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    box-shadow: rgba(35, 25, 4, 0.15);
}
.achievements__count {
    font-weight: 700;
    font-size: 50px;
    background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achievements__text {
    font-size: 20px;
    width: 151px;
}

@media screen and (max-width: 1700px)  {
    .main {
        padding: 0 0 0 143px;
    }
}
@media screen and (max-width: 1366px)  {
    .main {
        gap: 18px;
    }
    .main__text {
        font-size: 20px;
    }
    .main__heading {
        font-size: 70px;
    }
    .btn-diagnostics {
        min-width: 342px;
    }
    .btn-diagnostics__text {
        font-size: 16px;
    }
   
    .main__left-block  {
        width: 57%;
    }
    .main__right-block {
        width: 43%;
    }
    .advantages  {
        gap: 30px;
    }
}
@media screen and (max-width: 1324px)  {
    .advantages__item-text {
        font-size: 14px;
    }
    .main__text {
        font-size: 16px;
        max-width: 470px;
    }
    
    .main__heading  {
        font-size: 50px;
        max-width: 331px;
    }
    .btn-diagnostics {
        min-width: 290px;
        max-height: 59px;
    }
    .advantages__item {
        gap: 16px;
        max-width: 263px;
    }
    .advantages__item-box-picture {
        min-width: 50px;
        height: 50px;
    }
    .achievements {
        width: 298px;
        gap: 6px;
        height: 61px;
    } 
    .achievements__count { 
        font-size: 28px;
    }
    .achievements__text  {
        font-size: 14px;
        width: 106px;
    }
    .achievements__smile {
        max-width: 40px;
        max-height: 40px;
    }
    .advantages {
        gap: 30px;
    }
    .advantages__item-picture {
        width: 36px;
        height: 36px;
    }
    .advantages__item  {
        max-width: 242px;
        gap: 16px;
    }
    .main {
        gap: 12px;
        padding: 0 0 0 87px;
    }
    .main__heading {
        font-size: 50px;
    }
    .btn-diagnostics__text {
        font-size: 14px;
    }
}
@media screen and (max-width: 1001px) {

    .advantages__item  {
        max-width: 267px;
        gap: 24px;
    }
    .main__text {
        max-width: 310px;
    }
    .main__left-block  {
        width: 50%;
    }
    .main__right-block {
        width: 50%;
    }

}
@media screen and (max-width: 720px) {
    .main__heading  {
        font-size: 26px;
    }
    .main__text {
        font-size: 14px;
    }
    .btn-diagnostics {
        width: 100%;
        flex-grow:2;
    }
    .main__right-block {
        height: 216px;
        box-sizing: border-box;
    }
    .main {
        flex-wrap: wrap-reverse;
    }
    
    

}