.address {
    margin-bottom: 120px;
}
.address__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}
.address__item {
    width: calc(50% - 16px);
    max-height: 478px;
}
.address__picture {
    width: 100%;
    height: 100%;
}
.address__heading {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 800;
    line-height: 100%;
}
.address__text {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 140%;
}
.address__text:first-of-type {
    margin-bottom: 32px;
}
.address__button {
    border: 2px solid #000000;
    width: 245px;
    background-color: white;
    height: 60px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 40px;
}
@media screen and (max-width: 1850px)  {
    .address__item {
        max-height: 537px;
    }
    .address__item:nth-child(n +3):nth-child(-n+4) {
        height: 487px;
        max-width: 525px;
    }
    
    .address__text {
        font-size: 18px;
    } 
    .address__heading {
        font-size: 50px;
    }
    .address__button {
        max-width: 217px;
        height: 50px;
    }

}
@media screen and (max-width: 1100px)  {
    .address__list {
        gap: 28px;
    }
    .address__text:first-of-type {
        margin-bottom: 24px;
    }
    .address__item:nth-child(2) {
       width: 100%;
       order: -2;
    }
    .address__item:nth-child(1n +3),
    .address__item:nth-child(1)
     {
      width: calc(32.7% - 14px);
      max-height: 191px;
    }
    .address__text {
        font-size: 14px;
    } 
    .address__heading {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .address__button {
        max-width: 188px;
        height: 50px;
        font-size: 14px;
        
    }

}
@media screen and (max-width: 870px)  {
    .address__button {
        font-size: 14px;
        height: 51px;
    }
    .address__item:nth-child(1n +3),
    .address__item:nth-child(1)
     {
      max-height: 141px;
      width: calc(32.1% - 14px);
    }
}
@media screen and (max-width: 550px)  {
    .address {
        margin-bottom: 80px;
    }
    .address__heading {
        font-size: 26px;
        text-align: center;
        margin-bottom: 32px;
    }
    .address__button {
        max-width: 100%;
        width: 100%;
        margin-bottom: 24px;
        margin-right: 0;
        margin-top: 24px;
        margin: 24px 0 0 0;
    }
    .address__list {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 24px;
    }
    .address__item:nth-child(1n +3),
    .address__item:nth-child(1){
        min-width: 100%;
        max-height: 234px;
        overflow: hidden;
    }
    
     .address__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}


