body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
  }
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
    padding: 0;
}
.root {
    max-width: 1920px;
     
}
.mt-80 {
margin-top: 80px;
}
.mt-32 {
    margin-top: 32px;
}
.mt-16 {
    margin-top: 16px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-120 {
    margin-bottom: 120px;
}
.specialists,
.header__logo-box,
.address,
.menu
{
    margin: 0 200px;
}  
@media screen and (max-width: 1366px)  {
    .root {
        max-width: 1366px;
        margin: 0 143px;
    }
}
@media screen and (max-width: 1024px)  {
    .root {
        max-width: 1024px;
        margin: 0 87px;
    }
}
@media screen and (max-width: 768px)  {
    .root {
        max-width: 1024px;
        margin: 0 60px;
    }
}
@media screen and (max-width: 375px)  {
    .root {
        max-width: 375px;
       margin: 0 24px;
    }
}

